.container {
    transition: transform 0.5s ease-in-out;
}

.card-buttons,
.bottom-buttons {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.container:hover .card-buttons,
.container:hover .bottom-buttons {
    opacity: 1;
}
