@tailwind base;
@tailwind components;
@tailwind utilities;

.formInput {
    @apply block w-full rounded-md border-0 py-1.5 px-2 text-2xl text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
}
